<div class="card">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Sent Emails</span>
      <span class="text-muted mt-1 fw-bold fs-7"
        >Total of {{ sentList.length }} of emails exists.</span
      >
    </h3>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 rounded-start">From</th>
            <th class="ps-4 min-w-450px rounded-start">Subject</th>
            <th class="ps-4 rounded-start">Emcryption</th>
            <th class="ps-4 rounded-start">Attachments</th>
            <th class="text-end">Sent At</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr
            *ngFor="let sent of sentList"
            class="hand"
            (click)="select(sent)"
            id="kt_drawer_example_basic_button"
          >
            <td>
              <span
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ sent.from.getInetAddress() }}
              </span>
            </td>
            <td>
              <span
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ sent.subject }}
              </span>
            </td>
            <td>
              <span
                [title]="getEmcryptionTitle(sent)"
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ getEmcryption(sent) }}
              </span>
            </td>
            <td>
              <span
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{
                  sent.attachments && sent.attachments.length > 0
                    ? sent.attachments.length + " attachments"
                    : "None"
                }}
              </span>
            </td>
            <td class="text-end">
              <a
                href="#"
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ sent.created | date : "dd.MM.yyyy HH.mm" }}
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<!--begin::View component-->
<div
  id="kt_drawer_example_basic"
  class="bg-white"
  data-kt-drawer="true"
  data-kt-drawer-activate="true"
  data-kt-drawer-toggle="#kt_drawer_example_basic_button"
  data-kt-drawer-close="#kt_drawer_example_basic_close"
  data-kt-drawer-width="500px"
>
  <div class="recipients-drawer-wrapper" *ngIf="selected">
    <h3>Recipients</h3>
    <table class="table" *ngIf="selected.to">
      <thead>
        <tr>
          <th>Address</th>
          <th>Accessed</th>
          <th>Revoked</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipient of selected.to">
          <td>{{ recipient.getInetAddress() }}</td>
          <td>{{ recipient.accessed }}</td>
          <td>{{ recipient.revoked }}</td>
          <td>
            <span
              [inlineSVG]="'./assets/media/icons/duotune/general/gen011.svg'"
              title="Revoke"
              (click)="revoke(selected, recipient)"
              class="svg-icon svg-icon-3 hand"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--end::View component-->
