.content{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
    font-size: 1.2em;
}

.content:not(.selected):hover{
    background-color: #CCC;
}

.selected{
    color: white;
    background-color: #17a2b8;
}