<div class="row">
  <ul class="col-3 text-center">
    <li
      class="list-unstyled hand content"
      [ngClass]="{ selected: content.selected }"
      *ngFor="let content of contents"
      (click)="select(content)"
    >
      {{ content.type }}
    </li>
  </ul>

  <div class="col card" *ngIf="selected">
    <div class="card-header">
      <h3 class="card-title">
        Define email template for at least one language
      </h3>
    </div>
    <form novalidate="" class="form" autocomplete="off" id="uf" #templateForm="ngForm">
      <div class="card-body">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Template Language</label
          >
          <div class="col-lg-8 fv-row">
            <select
              id="lang"
              name="lang"
              class="form-control form-control-lg form-control-solid"
              required=""
              title="template language"
              [(ngModel)]="language"
              (change)="languageChanged()"
              #lang="ngModel"
            >
              <option *ngFor="let language of languages" value="{{ language }}">
                {{ language }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <ckeditor [(ngModel)]="html" name="editor" #editor="ngModel" (blur)="setContentForLanguage()" />
        </div>
        <div class="row mb-6">
            <button class="btn btn-success" type="button" (click)="save()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
