<div class="card">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Users</span>
      <span class="text-muted mt-1 fw-bold fs-7"
        >Total of {{ users.length }} of users are added.</span
      >
    </h3>
    <div class="card-toolbar">
      <a
        routerLink="/company/users/new"
        routerLinkActive="active"
        class="btn btn-sm btn-light-primary me-3"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
          class="svg-icon svg-icon-3"
        ></span>
        Create New
      </a>
      <div class="me-0">
        <button
          class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
        >
          <i class="bi bi-three-dots fs-3"></i>
        </button>

        <!--begin::Menu 3-->
        <div
          class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3"
          data-kt-menu="true"
        >
          <!--begin::Menu item-->
          <div class="menu-item px-3">
            <a
              routerLink="/company/users/new"
              routerLinkActive="active"
              class="menu-link px-3"
            >
              Manual</a
            >
          </div>
          <!--end::Menu item-->

          <!--begin::Menu item-->
          <div class="menu-item px-3">
            <a
              routerLink="/company/users/csv"
              routerLinkActive="active"
              class="menu-link px-3"
            >
              CSV
            </a>
          </div>
          <!--end::Menu item-->

          <!--begin::Menu item-->
          <div class="menu-item px-3">
            <a
              routerLink="/company/users/ldap"
              routerLinkActive="active"
              class="menu-link px-3"
            >
              LDAP
            </a>
          </div>
          <!--end::Menu item-->
        </div>
        <!--end::Menu 3-->
      </div>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 min-w-325px rounded-start">Full Name</th>
            <th class="min-w-125px">Email</th>
            <th class="min-w-125px">Activation</th>
            <th class="min-w-200px text-end">Created</th>
            <th class="min-w-200px text-end rounded-end"></th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr
            *ngFor="
              let user of users
                | slice
                  : pager.current * pager.size
                  : (pager.current + 1) * pager.size
            "
          >
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50px me-5">
                  <img
                    src="./assets/media/logos/custom-1.png"
                    class=""
                    alt=""
                  />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <span
                    class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                  >
                    {{ user.profile.firstName }} {{ user.profile.lastName }}
                  </span>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    Preferred language {{ user.profile.prefer }}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <span
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ user.email }}
              </span>
            </td>
            <td>
              <span
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ user.activated }}
              </span>
            </td>
            <td class="text-end">
              <a
                href="#"
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                at {{ user.created | date : "short" }}
              </a>
            </td>
            <td class="text-end">
              <a
                href="#"
                title="Configure"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen019.svg'
                  "
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              <a
                routerLink="/company/users/{{ user.id }}"
                routerLinkActive="active"
                title="Edit"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 hand"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              <a
                href="#"
                title="Manage"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  "
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
            </td>
          </tr>
        </tbody>

        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <app-pager
      [total]="users.length"
      (pageChanged)="pageChanged($event)"
    ></app-pager>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
